$verde: #008375;
$verde-escuro: #005249;
$verde-claro: #5CD6C9;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background-color: $verde;
  font-family: 'Roboto', 'Segoe UI', 'Helvetica', Arial, sans-serif;
  color: white;
  overflow: hidden;
}
